<template>
  <Row style="padding:20px">
    <Col span="4">
      <Card style>
        <div style="text-align:center">
          <img class="imgCategory" src="../assets/smartphone.jpg">
          <router-link to="smartphone">
            <h4>Smartphones</h4>
          </router-link>
        </div>
      </Card>
    </Col>
    <Col span="4">
      <Card style>
        <div style="text-align:center">
          <img class="imgCategory" src="../assets/console.jpg">
          <h4>Console Game</h4>
        </div>
      </Card>
    </Col>
    <Col span="4">
      <Card style>
        <div style="text-align:center">
          <img class="imgCategory" src="../assets/laptop.jpg">
          <h4>Laptops</h4>
        </div>
      </Card>
    </Col>
    <Col span="4">
      <Card style>
        <div style="text-align:center">
          <img class="imgCategory" src="../assets/tablets.png">
          <h4>Tablets</h4>
        </div>
      </Card>
    </Col>
    <Col span="4">
      <Card style>
        <div style="text-align:center">
          <img class="imgCategory" src="../assets/cameras.png">
          <h4>Cameras</h4>
        </div>
      </Card>
    </Col>
    <Col span="4">
      <Card style>
        <div style="text-align:center">
          <img class="imgCategory" src="../assets/smartwatches.png">
          <h4>Smart Watches</h4>
        </div>
      </Card>
    </Col>

    <Center>
      <Button shape="circle">View More Category</Button>
    </Center>
  </Row>
</template>
<style>
.imgCategory {
  width: 150px;
  height: 95px;
}
</style>
