<template>
  <Menu mode="horizontal" active-name="1">
    <div class="layout-logo">
        <a href="#/" class="wrapper-header-nav-logo"><img class="wrapper-header-nav-logo" src="../assets/logo.png"></a>
    </div>
    
    <div class="layout-nav">
      <MenuItem name="1">
        <Icon type="ios-navigate"></Icon>
        <router-link :to="{ name: 'Post' }">
          Sell
        </router-link>
      </MenuItem>
      <MenuItem name="1">
        <Icon type="ios-log-in" />Login
      </MenuItem>
    </div>
  </Menu>
</template>
<style>
.layout-nav {
  height: inherit;
  float: right;
}
.wrapper-header-nav-logo{
  height: 40px;
  margin-top: 4px;
  float: left;
}
</style>
